<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <%- Name %>
        </p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">
            <div id="RGB<%- ID+Name %>"></div>
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item">Picker</a>
        <a class="card-footer-item">Current</a>
        <a class="card-footer-item">Queue</a>
    </footer>
    <footer class="card-footer">
        <a class="card-footer-item" id="RGB<%- Name %>">0,0,0</a>
        <a onclick='init<%-ID+Name%>()' class="card-footer-item" id="CurrentRGB<%- Name %>">0,0,0</a>
        <a class="card-footer-item" id="Queue<%- Name %>">0</a>
    </footer>
</div>
<script>
    var RGB<%- ID+Name %> = new iro.ColorPicker('#RGB<%- ID+Name %>', {
        layout: [{
            component: iro.ui.Wheel,
        },{
            component: iro.ui.Slider,
            options: {
                sliderType: 'red',
            }
        },{
            component: iro.ui.Slider,
            options: {
                sliderType: 'green',
            }
        },{
            component: iro.ui.Slider,
            options: {
                sliderType: 'blue',
            }
        },{
            component: iro.ui.Slider,
            options: {
                sliderType: 'value',
            }
        }],
        layoutDirection: "horizontal",
    });
    function RGB<%- ID+Name %>SetRGB(RGB) {
        RGB = RGB.rgb
        socket.emit("RGB.<%- Name %>", JSON.stringify({
            action: 'RGB '+RGB.r+','+RGB.g+','+RGB.b,
            LED: "RGB",
            Name: "<%- Name %>",
            shortcut: false
        }));
        document.getElementById("RGB<%- Name %>").innerHTML = RGB.r+","+RGB.g+","+RGB.b;
    }
    RGB<%- ID+Name %>.on('input:change', RGB<%- ID+Name %>SetRGB);
    
    socket.on("RGB.<%- Name %>", data => {
         document.getElementById("CurrentRGB<%- Name %>").innerHTML = data;
    });
    socket.on("init.RGB.<%- Name %>", data => {
        init<%-ID+Name%>(data)
    });
    socket.on("RGB.<%-Name%>Queue", data => {
         document.getElementById("Queue<%- Name %>").innerHTML = data
    });
    function init<%-ID+Name%>(data) {
        if(data == undefined) data = document.getElementById("CurrentRGB<%- Name %>").innerHTML.substr(<%- (Name+" RGB ").length %>);
        document.getElementById("RGB<%- Name %>").innerHTML = data;
        RGB<%- ID+Name %>.color.rgbString = 'rgb('+data+')';
    }
</script>