<!DOCTYPE html>
<html>
  <body>
    <div class="container"><%- moment(req.body.start).format("DD-MM-YYYY HH:mm:ss") %><br>
      <div class="columns">
        <div class="column is-four-fifths">
          <button class="button">Normal</button>
          <button class="button is-primary">Normal</button>
          <button class="button is-link">Normal</button>
          <button class="button is-info">Normal</button>
          <% if(req.body.extendedProps.blocked) {%>
            <button onclick="UnblockTime(<%- req.params.ID %>, <%= JSON.stringify(req.body) %>)" class="button is-warning">Unblock this run</button>
          <% } else { %>
            <button onclick="BlockTime(<%- req.params.ID %>, <%= JSON.stringify(req.body) %>)" class="button is-warning">Block this run</button>
          <% } %>
          <button class="button is-danger">Delete CronJob</button><br>
          
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </body>
</html>